
// BREAKPOINTS

$medium-max: 767px;
$large-min: 768px;

@mixin mq_min($params) {
    @media (min-width: #{$params}) {
        @content;
    }
}

@mixin mq_max($params) {
    @media (max-width: #{$params}) {
        @content;
    }
}

@mixin mq_mobile {
    @media (max-width: #{$medium-max}) {
        @content;
    }
}

@mixin mq_desktop {
    @media (min-width: #{$large-min}) {
        @content;
    }
}

USE: @include mq_mobile (){display: none;}